* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.myApp {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  height: fit-content;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car {
  padding: 2.5rem 2.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sedan {
  background-color: #ff9933;
  border-radius: 0.5rem 0.5rem 0 0;
}

.suvs {
  background-color: #008080;
}

.luxury {
  background-color: #004d39;
  border-radius: 0 0 0.5rem 0.5rem;
}

.column h2, .column p {
  color: #fff;
}

.column h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.2rem;
}

.column .button {
  width: fit-content;
  text-align: center;
  background-color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 1.5rem;
}